@model List<Web.ViewModels.StudentViewModel>
@{
    int tableId = 0;
}
@foreach (var student in Model)
{
    tableId++;
    <tr>
        <th>@tableId</th>
        <td>@student.FullName</td>
        <td>@student.Sex</td>
        <td>@student.Age</td>
        <td>@student.BirthDate.ToString("yyyy-MM-dd")</td>
        <td>@student.BirthPlace</td>
        <td>
            @Html.ActionLink("Details", "Details", "Student", new { id = student.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Edit", "Edit", "Student", new { id = student.Id }, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Delete", "Delete", "Student", new { id = student.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

