@using Web.Models
@model List<Web.ViewModels.StudentViewModel>
@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tableStudents"
    };
    var dropdownList = new SelectList(Enum.GetValues(typeof(SizeIndex))
        .OfType<Enum>()
        .Select(item => new SelectListItem
        {
            Value = (Convert.ToInt32(item)).ToString(),
            Text = Convert.ToInt32(item) == 0 ? "All" : Convert.ToInt32(item).ToString()
        }), "Value", "Text");
}

<h2>Student</h2>
@Html.ActionLink("+ Create", "Create", "Student", new { @class = "btn btn-success" })
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Birth Date</th>
            <th>Birth Place</th>
            <th>Action</th>
        </tr>
    </thead>
    @*Tanpa Ajax Helper
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <th>@student.Id</th>
                    <td>@student.FullName</td>
                    <td>@student.Sex</td>
                    <td>@student.Age</td>
                    <td>@student.BirthDate.ToString("yyyy-MM-dd")</td>
                    <td>@student.BirthPlace</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Student", new { id = student.Id }, new { @class = "btn btn-secondary" })
                        @Html.ActionLink("Delete", "Delete", "Student", new { id = student.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>*@
    <tbody id="tableStudents">
        @Html.Partial("_GetStudent", Model)
    </tbody>
</table>

@using (Ajax.BeginForm("GetStudentAsync", "Student", ajaxOptions))
{
    <div class="d-flex gap-3">
        <div>
            @Html.TextBox("searchIndex", null, new { @class = "form-control", placeholder = "Search", autocomplete = "off" })
        </div>
        <div>
            @Html.DropDownList("sizeIndex", dropdownList, new { @class = "form-select", autocomplete = "off" })
        </div>
        <button class="btn btn-secondary">Submit</button>
    </div>
}